layout {

    focus-ring {
        active-color   "#e4de67"
        inactive-color "#292814"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e4de67"
        inactive-color "#292814"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#29281470"
    }

    tab-indicator {
        active-color   "#e4de67"
        inactive-color "#8d870c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e4de6780"
    }
}

recent-windows {
    highlight {
        active-color "#e4de67"
        urgent-color "#fd4663"
    }
}
